<!DOCTYPE html>
<html>
	<head>
		  <script src="https://unpkg.com/htmx.org@1.9.4"></script>
		  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
		<style>
		.button { border: 1px solid black; padding: 10px; float: left; width: 64px}
		.button .wiring {diplay: none; visibility: hidden;}
		.button input {width:15%;}
		.button:hover .wiring { visibility: visible}
		.wiring { }
		.keyboard{display: flex; border: 2px solid black; padding: 10px; flex-direction: column;}
		.row {display:flex;}
		</style>
	</head>
	<body>
		<h1>Keyboard Configurator</h1>
		<div>
			
		</div>
		<div class="keyboard" hx-get="/keyboard" hx-params="id" hx-trigger="load">
			<div>
				<label for="orientation">Orientation:</label>
				<select name="orientation" id="orientation">
					<option value="COL2ROW">Col2Row</option>
					<option value="ROW_2COL">Row2Col</option>
				</select>
			</div>
			<div class="row">
				<div class="button">
					<input list="keycode" class="key"></input>
					<div class="wiring">
						<input list="col_pins"></input>
						<input list="row_pins"></input>
					</div>
				</div>
				<div class="button">
					<input list="keycode" class="key"></input>
					<div class="wiring">
						<input list="col_pins"></input>
						<input list="row_pins"></input>
					</div>
				</div>
				<div class="button">
					<input list="keycode" class="key"></input>
					<div class="wiring">
						<input list="col_pins"></input>
						<input list="row_pins"></input>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="button">
					<input list="keycode" class="key"></input>
					<div class="wiring">
						<input list="col_pins"></input>
						<input list="row_pins"></input>
					</div>
				</div>
				<div class="button">
					<input list="keycode" class="key"></input>
					<div class="wiring">
						<input list="col_pins"></input>
						<input list="row_pins"></input>
					</div>
				</div>
				<div class="button">
					<input list="keycode" class="key"></input>
					<div class="wiring">
						<input list="col_pins"></input>
						<input list="row_pins"></input>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="button">
					<input list="keycode" class="key"></input>
					<div class="wiring">
						<input list="col_pins"></input>
						<input list="row_pins"></input>
					</div>
				</div>
				<div class="button">
					<input list="keycode" class="key"></input>
					<div class="wiring">
						<input list="col_pins"></input>
						<input list="row_pins"></input>
					</div>
				</div>
				<div class="button">
					<input list="keycode" class="key"></input>
					<div class="wiring">
						<input list="col_pins"></input>
						<input list="row_pins"></input>
					</div>
				</div>

			</div>
	
		</div><br>
		<div hx-get="/keycodes" hx-trigger="load"></div>
			<datalist id="col_pins">
				<option>1</option>
			</datalist>
			<datalist id="row_pins">
				<option>1</option>
			</datalist>

		<!--This is a comment. Comments are not displayed in the browser-->
		<script>
			function makeConfigRequestJson(){
			        event.detail.parameters.name = 'test'; 
                		event.detail.parameters.row = ["14","15","16","17","18"];
                		event.detail.parameters.column = ['0','1','2','3','4','5','6','7','8','9','10','11','12','13'];
                		event.detail.parameters.orientation = document.getElementById("orientation").value; 
				event.detail.headers['Content-Type'] = 'application/json';
				let layout = [];
				let keys = document.getElementsByClassName("key");
				event.detail.parameters.id = 0;
				for( key of keys){
					layout.push(key.value);
				}		
				event.detail.parameters.layout = layout;
			}
		</script>
		<div hx-post="/configdownload" hx-trigger="load" id="donwloadconfigbbutton" hx-on="htmx:configRequest: makeConfigRequestJson()" hx-ext='json-enc'>

		</div>
	</body>

</html>
